{% extends "layout.html" %}
{% block content %}



<div id='headline' class="text-center">
    <script id="hscript" type="text/javascript">
    $(document).ready( 
        function () {
           setTimeout(
               function(){
                   /* Remove the background image */
                   $('.full').css("background-color","#ffffff");
                   $('.full').css("background-image","none");
                   
                   /* Spinner for heatmap plots */
                   //d3.select("#heatmap").html("\<h1 id=\"header\" class=\"text-center\">Anomalous users this week\</h1>"+"\<br>"+  
                   //"\<span id='hmap_spinner'>\<img src='../img/spinner.gif' class=\"custom-spinner\">\</span>"
                   //);
                   
                   /* Fetch data for anomaly */
                   $.getJSON("/_weekid_anomalylist", function (data) { 
                       //tabulate(data.hmap,['account_name','week_id','pca_score','anomaly_flag','pca_recom_score','diff']);
                       //barplot_d3(data.hmap);
                       grouped_barplot(data.hmap);
                   });    

                   $.getJSON("/_anomalytseries_accid", function (data) { 
                      //tabulate(data.hmap,['week_id','pca_score','pca_recom_score']);
                      lineplot(data.hmap);
                   });    

                   /*$.getJSON("/_heatmap_accid_weekid", function (data1) { 
                       tabulate(data1.hmap,['week_id','server_name','num_days','account_name']);
                       selected_acc_Heatmap(data1.hmap);
                   });*/    
                                      
                                     
               },
               /* Timeout before the heatmap is rendered */ 
               30);
       });
    </script>
</div>
<div id = "weekiddivid" class="text-center">
    <form id = "weekidformid" onload="week_id_load(); return false;" onsubmit="week_id_fn(); return true;">
        <h1> Detected Anomalous Users in this Week</h1>
        <br> <br>
        <input type="text" id="weekid" class="text-center" name="pname" placeholder="week value" required  />
        <br> <br>
    </form>
</div>



<script type="text/javascript">
function week_id_load() {
    $.getJSON("/_get_anomalies_weekid", function (val) { 
       window.document.getElementById("weekid").value = ""+val.week_id;
    });
} 
function week_id_fn() {
    // trying this now - works! (getElementByID is not the method --> getElementById is the method!!)
    var val = window.document.getElementById("weekid").value;
    var url_val = "/_anomalies_weekid/"+val;
    $.getJSON(url_val);
    
    d3.select("#anomaliestable h4").data([]).exit().remove();
    d3.select("#anomaliestable svg").data([]).exit().remove();

    
    //d3.select("#hmap_spinner").html("\<span id='hmap_spinner'>\<img src='../img/spinner.gif' class=\"custom-spinner\">\</span>");
    $.getJSON("/_weekid_anomalylist", function (data) { 
        //tabulate(data.hmap,['account_name','week_id','pca_score','anomaly_flag','pca_recom_score','diff']);
        //barplot_d3(data.hmap);
        grouped_barplot(data.hmap);
    });
}  
</script>


<script type="text/javascript">
function selected_acc_id_load() {
    $.getJSON("/_get_selected_accid", function (val) { 
       window.document.getElementById("selectedaccid").value = ""+val.selected_acc_id;
    });
} 
function selected_acc_id_fn() {
    // trying this now - works! (getElementByID is not the method --> getElementById is the method!!)
    var val = window.document.getElementById("selectedaccid").value;
    var url_val = "/_selected_accid/"+val;
    $.getJSON(url_val);
    
    //d3.select("#heatmap h4").data([]).exit().remove();
    //d3.select("#heatmap svg").data([]).exit().remove();

    
    //d3.select("#hmap_spinner").html("\<span id='hmap_spinner'>\<img src='../img/spinner.gif' class=\"custom-spinner\">\</span>");
    $.getJSON("/_anomalytseries_accid", function (data) { 
        //tabulate(data.hmap,['week_id','pca_score','pca_recom_score']);
        lineplot(data.hmap)
    });

    
}  
</script>

<script type="text/javascript">

function heatmap_fn() {
    // trying this now - works! (getElementByID is not the method --> getElementById is the method!!)
    var val = window.document.getElementById("selectedaccid").value;
    var url_val = "/_selected_accid/"+val;
    $.getJSON(url_val);
    
    //d3.select("#heatmap h4").data([]).exit().remove();
    //d3.select("#heatmap svg").data([]).exit().remove();

    
    
    $.getJSON("/_heatmap_accid_weekid", function (data) { 
        //tabulate(data.hmap,['week_id','server_name','server_id','num_days','account_name']);
        selected_acc_Heatmap(data.hmap);
    });
}  
</script>
<div id='anomaliestable' class="text-center">
</div>


<div id = "accdivid" class="text-center">
    <form id = "accformid" onload="selected_acc_id_load(); return false;" onsubmit="selected_acc_id_fn(); return true;">
        <h1> Selected Account for Drill-down</h1>
        <br> <br>
        <input type="text" id="selectedaccid" class="text-center" name="accname" placeholder="account id" required  />
        <br> <br>
        <input type="button" onclick="heatmap_fn()" value="Generate Heatmap of account activity" />
    </form>
</div>

<div id='selacc_tseries' class="text-center">
</div>

<div id='selacc_hmap' class="text-center">
</div>

{% endblock %}
